<!--<li th:id="'period-item-' + ${period.periodId()}"-->
<!--    style="margin-bottom: 1rem; padding: 1rem; border: 1px solid #ddd; border-radius: 8px; box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);"-->
<!--    th:fragment="period-item">-->
<!--    <article>-->
<!--        <h3 style="margin-bottom: 0.5rem;">Period Information</h3>-->
<!--        <p><strong>Start Date:</strong> <span th:text="${period.startDate}">N/A</span></p>-->
<!--        <p><strong>End Date:</strong> <span th:text="${period.endDate != null ? period.endDate : 'Ongoing'}">N/A</span></p>-->
<!--        <p><strong>Flow Level:</strong> <span th:text="${period.dailyTracking().flowLevel()}">N/A</span></p>-->
<!--        <p><strong>Pain Level:</strong> <span th:text="${period.dailyTracking().painLevel()}">N/A</span></p>-->
<!--        <p><strong>Tracking Date:</strong> <span th:text="${period.dailyTracking().trackingDate()}">N/A</span></p>-->
<!--        <p><strong>Migraine:</strong> <span th:text="${period.migraine().migraineDate()}">N/A</span></p>-->
<!--        <p><strong>Migraine severity:</strong> <span th:text="${period.migraine().severityLevel()}">N/A</span></p>-->

<!--        &lt;!&ndash; Conditional "End Period" button &ndash;&gt;-->
<!--        <div th:if="${period.endDate == null}">-->
<!--            <label th:for="'endDate-' + ${period.periodId()}">Choose End Date:</label>-->
<!--            <input type="date" th:id="'endDate-' + ${period.periodId()}" name="endDate" style="margin-bottom: 0.5rem;">-->
<!--            <button hx-get="/view/period/end"-->
<!--                    hx-include="[name=id], [name=endDate]"-->
<!--                    hx-target="#period-item-${period.periodId()}"-->
<!--                    hx-swap="outerHTML"-->
<!--                    th:name="id"-->
<!--                    th:value="${period.periodId()}">-->
<!--                End Period-->
<!--            </button>-->
<!--        </div>-->
<!--    </article>-->
<!--</li>-->

<li th:fragment="period-item(period)" th:id="period-item">
    <span th:text="${period}"></span>
    </li>
